*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.container{
    position: relative;
}

.container .circle{
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    animation: 2s ease-in infinite alternate;
}

.container .circle:nth-child(1){
   width: 180px;
   height: 180px;
   top: -60px;
   left: -60px;
   background: linear-gradient(#e524e5, #8626b2);
   animation-name:move-up;
}

@keyframes move-up{
    to{
        transform: translateY(-10px);
    }
}


.container .circle:nth-child(2){
    width: 120px;
    height: 120px;
    bottom: -20px;
    right: -20px;
    background:linear-gradient(#d64612, #e48387);
    animation-name:move-down ;
}

@keyframes move-down{
    to{
        transform: translateY(10px);
    }
}